*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    width: 100%;
    background-color: #101010;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
  }

  .header-container .logo img {
    height: 100%;
    max-height: 100px; /* Adjust this to control the logo size */
    width: auto;
    object-fit: contain;
  }

  .header-nav ul{
    display: flex;
    gap: 15px;
  }

  .header-nav ul li{
    list-style: none;
  }

  .header-nav ul li a{
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0s;
    opacity: 0.7;
  }

  .header-nav ul li a:hover{
    opacity: 1;
    font-size: 1.05rem;
    transition: 0.4s ease;
  }

  footer{
    width: 100%;
    background-color: #101010;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    position: relative;
    bottom: 0;
  }

  .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .social-media{
    display: flex;
    gap: 20px;
  }

  .social-icon{
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
  }

  .social-icon:hover{
    color: grey;
  }

  .footer-nav ul{
    display: flex;
    gap: 20px;
  }

.footer-nav ul li{
    list-style: none;
}

.footer-nav ul li a{
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3 ease;
}

.footer-nav ul li a:hover{
    background-color: #575757;
}